/* all of our css resets go in here */
* {
    margin: 0;
    padding: 0;
    line-height: calc(1em +0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
   font-family: "Inter", sans-serif;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}